.topnav-wrap{
    padding: 5px 0; 
    background: #fff;
    height: 50px;
    display: flex; 
    align-items: center;
}

.topnav-wrap > nav{
    width: 70%; 
    margin: 0 auto; 
    display: flex; 
    align-items: center;
    justify-content: space-between;
}


.navlinks-wrap > a { 
    text-transform: uppercase;
    text-decoration: none;
    text-decoration: underline;
    color: gray;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
.navlinks-wrap > a:first-child {
    margin-right: 5px;
}

@media only screen and (max-width: 768px) {
    .navlinks-wrap {
        display: flex;
        flex-direction: column;
    }
    .topnav-wrap>nav {
        width: 80%;
    }
}