.logo-wrap{
    display: flex; 
    align-items: center;
}
.logo {
    background-image: url("../../../public/images/la_mountains.jpeg");
    height: 40px; 
    width: 40px;
    background-size: cover;
    border-radius: 100%;
    border: 1px solid var(--gray-1);
    margin-right: 10px;
}

.logo-title > p{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.logo-title > p:first-child{
    color: var(--gray-1);
}

.logo-title > p:last-child{
    color: var(--dark-blue-1);
}
.logo-link{
    text-decoration: none;
}







