.carousel-wrap{
    background-color: var(--dark-blue-2);
    padding: 0.5em 0; 
    position: fixed; 
    bottom: 0;
    left: 0; 
    right: 0;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 160px;
    color: #fff;
    margin: 0 15px;
    font-size: 4em;
}
.card > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.jhmYzC.rec-dot{ 
    background-color: rgb(167, 167, 167);
}
.krmNah.rec-dot{
    background-color: white;
    box-shadow: 0 0 1px 3px rgb(167, 167, 167);
}
.krmNah.rec-dot:hover,
.krmNah.rec-dot:focus {
    cursor: pointer;
    box-shadow: 0 0 1px 3px rgb(167, 167, 167);
}

.rec-arrow-right{
    display: none;
}
.rec-arrow-left{
    display: none;
}

@media only screen and (min-width: 768px) {
    .card {
        height: 100px;
        width: 200px;
    }
}

