@import "./components/History/Card/card.css";
@import "./components/History/history.css";
@import "./components/Logo/logo.css";
@import "./components/History/TopNav/topnav.css";
@import "./components/BigNum/bignum.css";
@import "./components/Home/HomeNav/homenav.css";
@import "./components/Home/home.css";
@import "./components/Team/team.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --gray-1: rgb(167, 167, 167);
  --gray-2: rgb(95, 94, 94);
  --dark-blue-1: rgba(13, 37, 110, 1.0);
  --dark-blue-2: rgba(13, 37, 110, 0.8);
}
